<!doctype html>
<html lang="en">

<head>
    <title>FriskyPaws -- For all your furry community needs</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116664525-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116664525-3');
    </script>

    <link rel="stylesheet" href="/bundle/styles.css" />
</head>

<body>
    <div class="container">
        {{ content }}
    </div>
    <script src="/bundle/main.js"></script>
</body>

</html>